// Ownasaurus

LOCATE COMP "clk12" SITE "A10";
IOBUF PORT "clk12" IO_TYPE=LVCMOS33;

LOCATE COMP "tx_uart" SITE "P3";
IOBUF PORT "tx_uart" IO_TYPE=LVCMOS33;
LOCATE COMP "rx_uart" SITE "P2";
IOBUF PORT "rx_uart" IO_TYPE=LVCMOS33;

LOCATE COMP "tmds_b" SITE "C1";
IOBUF PORT "tmds_b" IO_TYPE=LVDS;
LOCATE COMP "tmds_c" SITE "F2";
IOBUF PORT "tmds_c" IO_TYPE=LVDS;

LOCATE COMP "vsync" SITE "F1";
IOBUF PORT "vsync" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "debug[0]" SITE "C14";
IOBUF PORT "debug[0]" PULLMODE=UP IO_TYPE=LVCMOS25;
LOCATE COMP "debug[1]" SITE "D14";
IOBUF PORT "debug[1]" PULLMODE=UP IO_TYPE=LVCMOS25;
LOCATE COMP "debug[2]" SITE "E14";
IOBUF PORT "debug[2]" PULLMODE=UP IO_TYPE=LVCMOS25;

LOCATE COMP "led[0]" SITE "B17";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[1]" SITE "A17";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[2]" SITE "C17";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[3]" SITE "B18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[4]" SITE "A18";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[5]" SITE "B19";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[6]" SITE "A12";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[7]" SITE "A13";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "button" SITE "P4";
IOBUF PORT "button" IO_TYPE=LVCMOS33;
